body,
html {
  height: 100vh;
  margin: 0;
}
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #fefcea 0%,
    #f1da36 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #fefcea 0%,
    #f1da36 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #fefcea 0%,
    #f1da36 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
  color: rgba(0, 0, 0, 0.76);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 'Rubik', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photo {
  padding: 40px;
  width: 200px;
  border-radius: 70%;
}
.icon {
  width: 70px;
  padding: 20px;
}
@media only screen and (min-width: 600px) {
  .icon {
    width: 100px;
  }
}
.icondiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
.contact {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.menu {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: 55px;
  }
}
.menu .item {
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 500;
  border-radius: 50px;
  background-color: rgba(255, 68, 0, 0.75);
  border: solid 2px rgba(255, 68, 0, 0.8);
}
@media only screen and (min-width: 600px) {
  .menu .item {
    margin-bottom: 0;
    flex-basis: 20%;
  }
}
.menu .item:hover {
  background-color: rgb(24, 147, 248, 0.75);
  border: solid 2px rgb(24, 147, 248, 0.8);
  transition: 0.4s;
}
footer {
  padding: 30px;
  display: flex;
  justify-content: end;
}
.credits {
  height: 40px;
  width: 100%;
  padding: 30px;
  margin-top: 20px;
  text-align: center;
}
.pixelperfect,
.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
