body {
  background-color: rgba(240, 207, 23, 0.425);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  padding: 40px;
}
img {
  padding: 40px;
  width: 200px;
  border-radius: 50%;
}
